<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Multibrowser">
    <classes>
      <class name="com.Amazon_Project.Crossbrowser"/>
    </classes>
  </test> <!-- Multibrowser -->
</suite> <!-- Suite -->
